
<h1 class="text-primary">Pages#home</h1>
<% if current_user %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'sign up', new_user_registration_path %>
<%= link_to 'sign in', new_user_session_path %>
<% end %>


<p>Find me in app/views/pages/home.html.erb</p>
